---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Halaman tidak ditemukan | CANOVIO Glasswork">
    <section class="flex justify-center items-center h-screen bg-[#ebeceb]">
        <div class="text-center">
            <h1 class="text-6xl font-nunito font-bold mb-4">Ups..</h1>
            <p class="text-xl font-comfortaa mb-8">Mohon maaf, halaman tidak ditemukan..</p>
            <a href="/" class="inline-block bg-[#0c1b33] text-[#ebeceb] px-6 py-3 rounded-tl-2xl rounded-br-2xl hover:bg-[#363f48] transition-all font-comfortaa text-sm">
                Kembali ke Beranda
            </a>
        </div>
    </section>
</Layout>