---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Artikel | CANOVIO Glasstone" page="blog">
    <section class="w-screen h-auto px-4 pt-24 pb-12 lg:py-24 bg-amber-50">
        <div class="container mx-auto">
            <h2 class="text-4xl font-nunito font-bold mb-2">Artikel Terkait</h2>
            <p class="text-sm font-comfortaa text-gray-600 mb-4">Berikut beberapa artikel terkait dengan layanan yang kami sediakan</p>
            <div class="grid lg:grid-cols-4 grid-cols-1 gap-6 gap-y-8">
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
                <div class="w-full h-fit">
                    <img src="/images/bg-1.jpg" alt="bg-1" class="w-full h-48 rounded-2xl object-cover">
                    <div class="flex flex-row gap-2 mt-4 mb-4 flex-wrap">
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#aluminium</span>
                        <span class="text-xs bg-[#342015] text-amber-50 rounded-full p-2 font-comfortaa">#stainless_steel</span>
                    </div>
                    <div class="flex flex-row justify-between items-center my-2">
                        <span class="text-xs font-comfortaa">Admin</span>
                        <span class="text-xs font-comfortaa">17 Jul, 2025</span>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="text-xl font-nunito font-bold">Jenis-jenis Instalasi Aluminium</a>
                    <div class="text-sm font-comfortaa font-bold">
                        <p class="truncate line-clamp-4 whitespace-normal mt-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae saepe molestiae nostrum, ipsam natus explicabo? Alias, dolorem? Ea delectus iste reprehenderit sint id, porro voluptatem repellendus repellat aliquid hic quod distinctio dignissimos corrupti sunt. Doloremque, accusantium, autem mollitia soluta veritatis dolor facilis, consequatur sequi molestiae commodi libero asperiores error eaque quis. Ullam quo, hic accusantium distinctio fuga culpa eaque voluptas labore veniam sit, corrupti iste dolore blanditiis? Accusamus assumenda tenetur doloremque ea debitis consectetur vero aliquid similique, officiis velit! Commodi incidunt quaerat, praesentium nam aut maiores? Repudiandae reprehenderit corporis, ipsam nihil dolores laboriosam tempora aliquid voluptate! Nostrum, est quaerat corporis nisi pariatur esse modi dolorum aut dolor mollitia accusantium laboriosam cumque possimus totam distinctio at officiis. Non, ipsa officiis.
                        </p>
                    </div>
                    <a href={"/article/jenis-jenis-instalasi-aluminium"} class="inline-block py-3 px-4 mt-4 rounded-2xl bg-[#342015] text-amber-50 font-comfortaa text-xs hover:bg-[#745748] ">Baca selengkapnya</a>
                </div>
            </div>
        </div>
    </section>
</Layout>