---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Kategori Pekerjaan| CANOVIO Glasstone" page="category">
    <section class="w-screen h-auto px-4 pt-24 bg-amber-50">
        <div class="container mx-auto flex pb-12">
            <div class="w-1/4">
                <h2 class="text-2xl font-nunito">Kategori <i class="font-bold">Glass</i></h2>
                <ul class="mt-4 list-none">
                    <li>
                        <a href="#aluminium" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Aluminium</a>
                    </li>
                    <li>
                        <a href="#kanopi" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Kanopi</a>
                    </li>
                    <li>
                        <a href="#railing" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Railing</a>
                    </li>
                    <li>
                        <a href="#cermin" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Cermin</a>
                    </li>
                    <li>
                        <a href="#kaca_km" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Kaca Kamar Mandi</a>
                    </li>
                    <li>
                        <a href="#pintu" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Pintu Frameless</a>
                    </li>
                    <li>
                        <a href="#acp" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Curtain Wall & ACP</a>
                    </li>
                </ul>
                <h2 class="text-2xl font-nunito mt-8">Kategori <i class="font-bold">Stone</i></h2>
                <ul class="mt-4 list-none">
                    <li>
                        <a href="#table" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Top Table</a>
                    </li>
                    <li>
                        <a href="#dinding" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Dinding</a>
                    </li>
                    <li>
                        <a href="#lantai" class="text-base font-comfortaa my-2 block hover:text-[#342015] transition-colors">Lantai</a>
                    </li>
                </ul>
            </div>
            <div class="w-3/4">
                
            </div>
        </div>
    </section>
    <!-- Add your category content here -->
</Layout>
