---

---

<section id="hero" class="w-screen h-auto bg-[#ebeceb] py-24 px-4 pb-32">
    <div class="container mx-auto">
        <div class="block lg:grid lg:grid-cols-2 lg:gap-2 relative">
            <div class="block">
                <div class="overflow-hidden w-full pb-1">
                    <h1 class="hero-content-y text-4xl lg:text-6xl font-nunito font-black transition-transform duration-500 translate-y-full">
                        Crafting Clarity in Architecture
                    </h1>
                </div>
                <div class="overflow-hidden w-full">
                    <p class="hero-content-y text-sm lg:text-base font-comfortaa mt-4 lg:mt-8 text-gray-700 transition-transform duration-500 translate-y-full">
                        Solusi instalasi kaca profesional untuk rumah, ruko, dan properti lainnya. Kami siap membantu Anda mewujudkan <i>looks</i> impian untuk properti Anda dengan kualitas terbaik.
                    </p>
                </div>
                <div class="flex my-4 lg:mt-12 lg:mb-0 gap-4 overflow-hidden w-full">
                    <a href={"/contact"} class="hero-content-y inline-block bg-[#0c1b33] text-[#ebeceb] border-2 border-[#0c1b33] px-6 py-3 rounded-tl-2xl rounded-br-2xl hover:bg-[#363f48] transition-all font-comfortaa text-sm duration-500 translate-y-full">
                        Konsultasi
                    </a>
                    <a href="#service" class="hero-content-y inline-block bg-[#ebeceb] text-[#0c1b33] border-2 px-6 py-3 rounded-tl-2xl rounded-br-2xl hover:bg-gray-100 transition-all font-comfortaa text-sm duration-500 translate-y-full">
                        Lihat Layanan
                    </a>
                </div>
            </div>
            <!-- <div class="mask-b-from-10% mask-b-to-90% bg-[url(/images/sample-1.jpg)] bg-cover bg-center rounded-lg shadow-lg relative overflow-hidden"></div> -->
             <div class="overflow-hidden w-full mt-12 lg:mt-0">
                 <div class="hero-content-x flex flex-row items-center w-full h-64 lg:h-96 rounded-tl-4xl rounded-br-4xl shadow-lg relative overflow-hidden transition-transform duration-500 translate-x-[calc(100%+100px)]">
                     <img src="/images/category/acp/1.jpeg" alt="image-1" class="w-full h-auto absolute blur-xs" />
                 </div>
             </div>
            <div class="w-2/3 lg:w-1/4 h-fit flex gap-4 absolute -bottom-1/8 lg:-bottom-1/4 right-2 lg:right-6">
                <div class="overflow-hidden w-full h-fit py-2">
                    <div class="hero-content-x flex flex-col w-full h-36 lg:h-48 px-2 lg:px-6 py-8 rounded-tl-4xl rounded-br-4xl shadow-lg overflow-hidden bg-[#0c1b33] text-center transition-transform duration-500 translate-x-[calc(100%+100px)]">
                        <h4 class="text-xs lg:text-sm text-[#ebeceb] font-comfortaa">Dengan</h4>
                        <h2 class="text-2xl lg:text-4xl text-[#ebeceb] font-nunito flex items-center justify-center w-full h-full">
                            5
                            <span class="text-xs lg:text-sm font-black">+ thn</span>
                        </h2>
                        <h4 class="text-xs lg:text-sm text-[#ebeceb] font-comfortaa font-bold uppercase">Pengalaman</h4>
                    </div>
                </div>
                <div class="overflow-hidden w-full h-fit py-2">
                    <div class="hero-content-x flex flex-col w-full h-36 lg:h-48 px-2 lg:px-6 py-8 rounded-tl-4xl rounded-br-4xl shadow-lg overflow-hidden bg-[#ebeceb] text-center transition-transform duration-500 translate-x-[calc(100%+100px)]">
                        <h4 class="text-xs lg:text-sm text-gray-800 font-comfortaa">Menyelesaikan</h4>
                        <h2 class="text-2xl lg:text-4xl text-gray-800 font-nunito flex items-center justify-center w-full h-full">
                            20
                            <span class="text-xs lg:text-sm font-black">+</span>
                        </h2>
                        <h4 class="text-xs lg:text-sm text-gray-800 font-comfortaa font-bold uppercase">Proyek</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>