---

---

<section id="promote" class="w-screen h-auto bg-[#b79c6d] bg-[url('images/bg-2.jpg')] bg-blend-color-burn lg:bg-blend-soft-light bg-cover bg-bottom py-12 lg:py-24 px-4">
    <div class="container mx-auto">
        <div class="overflow-hidden w-full pb-2 text-center">
            <h1 class="text-4xl font-nunito text-amber-50" data-aos="fade-up">
                Wujudkan Properti Impian Anda Bersama Kami
            </h1>
        </div>
        <div class="overflow-hidden pb-2 mt-4 lg:mt-12 w-full lg:w-1/2 text-center mx-auto">
            <p class="text-amber-50 font-comfortaa text-sm lg:text-base mb-4" data-aos="fade-up" data-aos-delay="100">
                Kami siap membantu Anda mewujudkan proyek impian dengan kualitas terbaik dan harga yang kompetitif. Hubungi kami sekarang untuk konsultasi gratis!
            </p>
        </div>
        <div class="overflow-hidden flex justify-center mt-4 lg:mt-8">
            <a href={"/contact"} class="bg-[#342015] text-white font-comfortaa py-4 px-8 rounded-full hover:bg-[#745748] transition duration-300" data-aos="fade-up" data-aos-delay="200">
                Hubungi Kami
            </a>
        </div>
    </div>
</section>