---

---

<section id="promote" class="w-screen h-auto bg-[#363f48] bg-[url('/images/bg-2.jpg')] bg-blend-color-burn lg:bg-blend-soft-light bg-cover bg-bottom py-12 lg:py-24 px-4">
    <div class="container mx-auto">
        <div class="overflow-hidden w-full pb-2 text-center">
            <h1 class="text-4xl font-nunito text-[#ebeceb]" data-aos="fade-up">
                Solusi Kaca Berkualitas untuk Hunian dan Bisnis Anda
            </h1>
        </div>
        <div class="overflow-hidden pb-2 mt-4 lg:mt-12 w-full lg:w-1/2 text-center mx-auto">
            <p class="text-[#ebeceb] font-comfortaa text-sm lg:text-base mb-4" data-aos="fade-up" data-aos-delay="100">
                Percayakan kebutuhan kaca pada properti Anda kepada kami untuk mendapatkan hasil terbaik dengan harga yang kompetitif.
            </p>
        </div>
        <div class="overflow-hidden flex justify-center mt-4 lg:mt-8">
            <a href={"/contact"} class="bg-[#0c1b33] text-[#ebeceb] font-comfortaa py-4 px-8 rounded-full hover:bg-[#363f48] transition duration-300" data-aos="fade-up" data-aos-delay="200">
                Hubungi Kami
            </a>
        </div>
    </div>
</section>