---

---

<section id="splash" class="bg-amber-50 flex justify-center items-center flex-col w-screen h-screen fixed top-0 left-0 z-50 transition-all duration-1000 delay-2500">
	<div class="overflow-hidden">
		<img id="logo-splash" src="/images/icon.png" alt="canovio-logo" class="w-24 h-24 mb-1 transition-transform duration-100 translate-y-24" />
	</div>
	<div class="text-center overflow-hidden mb-1">
		<h1 id="text1-splash" class="text-4xl font-bold font-nunito text-[#b79c6d] transition-transform duration-100 delay-100 translate-y-10">CANOVIO</h1>
	</div>
	<div class="text-center overflow-hidden">
		<h3 id="text2-splash" class="font-bold tracking-widest font-comfortaa text-[#b79c6d] transition-transform duration-100 delay-200 translate-y-5">GLASSSTONE</h3>
	</div>
</section>
